body {
    background-image: url("../../images/app/bg.png");
}

.register-panel {
    position: absolute;
    left: 50%;
    margin-left: -186px;
    top: 50%;
    margin-top: -260px;
}

.alert {
    max-width: 330px;
    margin: 0 auto 10px;
}

.alert-client {
    display: none;
}

.form {
    max-width: 320px;
    width: 320px;
    padding: 19px 29px 29px;
    background-image: url("../../images/app/bg_box.png");
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.form input[type="email"],
.form input[type="password"],
.form input[type="text"] {
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

img {
    margin-bottom: 15px;
}

.form input[type="checkbox"] {
    margin-top: 0px;
    margin-left: 53px;
}
