
<% include ../../header.html %>
<link href="/stylesheets/lib/jquery-ui-1.10.3.custom.min.css" rel="stylesheet">
<link href="/stylesheets/copyrightbar.css" rel="stylesheet">
<link href="/stylesheets/settings/sidenav.css" rel="stylesheet">
<link href="/stylesheets/settings/set_basic.css" rel="stylesheet">
<% include ../../below_header.html %>
<% include ../../wrap_open.html %>
<% include ../../navbar.html %>
<div class="container">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3 sidebar">
                <% include ../sidenav.html %>
            </div>
            <div class="span9 main">
                <% if(locals.error){ %>
                <div class="alert alert-block alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <ul>
                        <li><%= error %></li>
                    </ul>
                </div>
                <% } %>
                <% if(locals.success){ %>
                <div class="alert alert-block alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <ul>
                        <li><%= success %></li>
                    </ul>
                </div>
                <% } %>
                <div class="alert alert-block alert-error alert-client">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <ul>
                    </ul>
                </div>
                <form class="form" action="/set/basic" method="post">
                    <fieldset>
                        <legend>基本信息</legend>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <table class="tbl">
                            <tr>
                                <td class="tag">昵称：</td>
                                <td>
                                    <% if(form.name){ %>
                                    <input type="text" name="form[name]" value="<%= form.name %>"/>
                                    <% }else{ %>
                                    <input type="text" name="form[name]"/>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td class="tag">生日：</td>
                                <td>
                                    <% if(form.birthday){ %>
                                    <input type="text" id="birthday" name="form[birthday]"
                                           value="<%= form.birthday %>" onfocus="this.blur()"/>
                                    <% }else{ %>
                                    <input type="text" id="birthday" name="form[birthday]" onfocus="this.blur()"/>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td class="tag">性别：</td>
                                <td>
                                    <% if(form.gender){ %>
                                    <% if(form.gender === "female"){ %>
                                    <label class="radio inline">
                                        <input type="radio" name="form[gender]" value="male"/> 男
                                    </label>
                                    <label class="radio inline">
                                        <input type="radio" name="form[gender]" value="female" checked/> 女
                                    </label>
                                    <% }else{ %>
                                    <label class="radio inline">
                                        <input type="radio" name="form[gender]" value="male" checked/> 男
                                    </label>
                                    <label class="radio inline">
                                        <input type="radio" name="form[gender]" value="female"/> 女
                                    </label>
                                    <% } %>
                                    <% }else{ %>
                                    <label class="radio inline">
                                        <input type="radio" name="form[gender]" value="male"/> 男
                                    </label>
                                    <label class="radio inline">
                                        <input type="radio" name="form[gender]" value="female"/> 女
                                    </label>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td class="tag">所在地：</td>
                                <td>
                                    <% if(form.address){ %>
                                    <input type="text" name="form[address]" value="<%= form.address %>"/>
                                    <% }else{ %>
                                    <input type="text" name="form[address]"/>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td class="tag">自我介绍:</td>
                                <td>
                                    <% if(form.selfInfo){ %>
                                    <textarea name="form[selfInfo]"><%= form.selfInfo %></textarea>
                                    <% }else{ %>
                                    <textarea name="form[selfInfo]"></textarea>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><input type="submit" class="btn btn-info" value="保存"/></td>
                            </tr>
                        </table>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<% include ../../wrap_close.html %>
<% include ../../copyrightbar.html %>
<% include ../../above_footer.html %>
<script src="http://cdn.staticfile.org/jquery-validate/1.11.1/jquery.validate.min.js"></script>
<script src="http://cdn.staticfile.org/jquery-validate/1.11.1/additional-methods.min.js"></script>
<script src="/javascripts/lib/jquery-ui-1.10.3.custom.min.js"></script>
<script src="/javascripts/jqueryui_zh.js"></script>
<script src="/javascripts/settings/set_basic.js"></script>
<% include ../../footer.html %>