
<ul class="nav nav-list sidenav">
    <li class="active" id="nav-basic"><a href='/set/basic'>基本信息</a></li>
    <li id="nav-extra"><a href='/set/extra'>附加信息</a></li>
    <li id="nav-portrait"><a href='/set/portrait'>设置头像</a></li>
    <li id="nav-password"><a href='/set/password'>密码修改</a></li>
</ul>