body {
    background-image: url("../../images/app/bg.png");
}

#history, #say {
    max-width: 700px;
    margin: 30px auto;
    padding: 20px 30px;
    background-image: url("../../images/app/bg_box.png");
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

#history img {
    width: 48px;
    height: 48px;
}

#say {
    padding: 20px 30px 8px;
}

table {
    table-layout: fixed;
}

td {
    word-break: break-all;
    word-wrap: break-word;
}

p {
    margin-bottom: 0px;
}

#history table {
    border: 1px solid #dddddd;
}

#history td:first-child {
    width: 50px;
}

textarea {
    resize: none;
    font-size: 16px;
    margin-bottom: 15px;
    padding: 7px 9px;
}

ul.pager {
    margin-bottom: 0px;
}

.alert {
    max-width: 710px;
    margin: 0 auto 10px;
}

.alert-client {
    display: none;
}