
<% include ../../header.html %>
<link href="/stylesheets/copyrightbar.css" rel="stylesheet">
<link href="/stylesheets/auth/login.css" rel="stylesheet">
<% include ../../below_header.html %>
<% include ../../wrap_open.html %>
<div class="container">
    <div class="login-panel">
        <% if(locals.error){ %>
        <div class="alert alert-block alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <ul>
                <li><%= error %></li>
            </ul>
        </div>
        <% } %>
        <% if(locals.success){ %>
        <div class="alert alert-block alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <ul>
                <li><%= success %></li>
            </ul>
        </div>
        <% } %>
        <div class="alert alert-block alert-error alert-client">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <ul>
            </ul>
        </div>
        <form class="form" action="/login" method="post">
            <fieldset>
                <legend>登陆</legend>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <% if(form.email){ %>
                <input type="email" class="input-block-level" placeholder="登录邮箱" name="form[email]"
                       value="<%= form.email %>">
                <% }else{ %>
                <input type="email" class="input-block-level" placeholder="登录邮箱" name="form[email]">
                <% } %>
                <input id="password" type="password" class="input-block-level" placeholder="您的密码" name="form[password]">
                <% if(form.remember){ %>
                <label class="checkbox">
                    <input type="checkbox" name="form[remember]" <%= form.remember %>>15天内不用登录
                </label>
                <% }else{ %>
                <label class="checkbox">
                    <input type="checkbox" name="form[remember]">15天内不用登录
                </label>
                <% } %>
                <a href="/register" class="btn btn-link">没有账号？</a>
                <a href="/forget/password" class="btn btn-link">忘记密码？</a>
                <input id="submit" type="submit" class="btn btn-info pull-right" value="登       陆">
            </fieldset>
        </form>
    </div>
</div>
<% include ../../wrap_close.html %>
<% include ../../copyrightbar.html %>
<% include ../../above_footer.html %>
<script src="http://cdn.staticfile.org/jquery-validate/1.11.1/jquery.validate.min.js"></script>
<script src="http://cdn.staticfile.org/jquery-validate/1.11.1/additional-methods.min.js"></script>
<script src="/javascripts/auth/login.js"></script>
<% include ../../footer.html %>