
<% include ../../header.html %>
<link href="/stylesheets/copyrightbar.css" rel="stylesheet">
<link href="/stylesheets/personal_chat/chat_list.css" rel="stylesheet">
<link href="/stylesheets/go_top.css" rel="stylesheet">
<% include ../../below_header.html %>
<% include ../../wrap_open.html %>
<% include ../../navbar.html %>
<div class="container">
    <% if(locals.error){ %>
    <div class="alert alert-block alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <ul>
            <li><%= error %></li>
        </ul>
    </div>
    <% } %>
    <div class="alert alert-block alert-error alert-client">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <ul>
        </ul>
    </div>
    <div id="say">
        <form class="form" method="post" action="#say">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <% if(locals.form){ %>
            <textarea name="form[content]" class="input-block-level" placeholder="给TA发私信吧..."><%= form.content
                %></textarea>
            <% } else {%>
            <textarea name="form[content]" class="input-block-level" placeholder="给TA发私信吧..."></textarea>
            <% } %>
            <div>&nbsp<input type="submit" value="发       送" class="btn btn-info pull-right"></div>
        </form>
    </div>
    <div id="history">
        <legend>私信记录</legend>
        <table class="table table-striped">
            <% if(chatRecords.length == 0){ %>
            <tr>
                <td>
                    暂无信息
                </td>
            </tr>
            <% } %>
            <% for(var i in chatRecords){ %>
            <tr>
                <td>
                    <a href="/artist/<%= chatRecords[i]._from._id %>">
                        <% if(chatRecords[i]._from.portrait == "default"){ %>
                        <img class="portrait"
                             src="http://xxx.qiniudn.com/face180.png-Mwh48"/>
                        <% }else{ %>
                        <img class="portrait"
                             src="http://xxx.qiniudn.com/<%= chatRecords[i]._from.portrait %>-Mwh48"/>
                        <% } %>
                    </a>
                </td>
                <td>
                    <a href="/artist/<%= chatRecords[i]._from._id %>"><span><%= chatRecords[i]._from.name %></span></a>
                    <span class="pull-right comment-time"><%= chatRecords[i].formattedCreateTime %></span>

                    <p>
                        <%= chatRecords[i].content %>
                    </p>
                </td>
            </tr>
            <% }%>
        </table>
        <div id="page">
            <ul class="pager">
                <% if(currentPage > 1){ %>
                <li class="previous">
                    <a href="?page=<%= currentPage - 1 %>#comments">向左走</a>
                </li>
                <% } else { %>
                <li class="previous disabled">
                    <span>向左走</span>
                </li>
                <% } %>
                <% if(currentPage < pageAmount){ %>
                <li class="next">
                    <a href="?page=<%= currentPage + 1 %>#comments">向右走</a>
                </li>
                <% } else { %>
                <li class="next disabled">
                    <span>向右走</span>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</div>
<% include ../../wrap_close.html %>
<% include ../../copyrightbar.html %>
<% include ../../go_top.html %>
<% include ../../above_footer.html %>
<script src="/javascripts/go_top.js"></script>
<script src="http://cdn.staticfile.org/jquery-validate/1.11.1/jquery.validate.min.js"></script>
<script src="http://cdn.staticfile.org/jquery-validate/1.11.1/additional-methods.min.js"></script>
<script src="/javascripts/personal_chat/chat_list.js"></script>
<% include ../../footer.html %>