
<% include ../../header.html %>
<link href="/stylesheets/copyrightbar.css" rel="stylesheet">
<link href="/stylesheets/settings/sidenav.css" rel="stylesheet">
<link href="/stylesheets/settings/set_portrait.css" rel="stylesheet">
<link href="/stylesheets/lib/bootstrap-fileupload.min.css" rel="stylesheet">
<% include ../../below_header.html %>
<% include ../../wrap_open.html %>
<% include ../../navbar.html %>
<div class="container">

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3 sidebar">
                <% include ../sidenav.html %>
            </div>
            <div class="span9 main">
                <% if(locals.error){ %>
                <div class="alert alert-block alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <ul>
                        <li><%= error %></li>
                    </ul>
                </div>
                <% } %>
                <% if(locals.success){ %>
                <div class="alert alert-block alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <ul>
                        <li><%= success %></li>
                    </ul>
                </div>
                <% } %>
                <div class="alert alert-block alert-error alert-client">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <ul>
                    </ul>
                </div>
                <form class="form" action="http://up.qiniu.com/" method="post" enctype="multipart/form-data">
                    <fieldset>
                        <legend>设置头像</legend>
                        <input name="key" type="hidden" value="<%= fileKey %>">
                        <input name="x:key" type="hidden" value="<%= fileKey %>">
                        <input name="token" type="hidden" value="<%= upToken %>">
                        <table class="tbl">
                            <tr>
                                <td class="tag">头像：</td>
                                <td>
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div class="fileupload-new thumbnail default-thumbnail">
                                            <% if(portrait == "default"){ %>
                                            <img src="http://xxx.qiniudn.com/face180.png"/>
                                            <% }else{ %>
                                            <img src="http://xxx.qiniudn.com/<%= portrait %>-Mw180"/>
                                            <% } %>
                                        </div>
                                        <div class="fileupload-preview fileupload-exists thumbnail add-thumbnail"
                                                ></div>
                                        <div class="control-btns">
                                            <span class="btn btn-file"><span class="fileupload-new">选择头像</span><span
                                                    class="fileupload-exists">更改头像</span>
                                                   <input type="file" name="file"/>
                                            </span>
                                            <a href="#" class="btn fileupload-exists"
                                               data-dismiss="fileupload">取消</a>
                                            <input type="submit" class="btn btn-info"
                                                   value="保存"/>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-header">
            <h3 id="myModalLabel">上传中，请稍等...</h3>
        </div>
        <div class="modal-body">
            <div class="progress progress-info progress-striped active">
                <div class="bar" style="width: 0;"></div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true" disabled>关闭</button>
        </div>
    </div>
</div>
<% include ../../wrap_close.html %>
<% include ../../copyrightbar.html %>
<% include ../../above_footer.html %>
<script src="http://cdn.staticfile.org/jquery-validate/1.11.1/jquery.validate.min.js"></script>
<script src="http://cdn.staticfile.org/jquery-validate/1.11.1/additional-methods.min.js"></script>
<script src="/javascripts/jquery.validate-custom-methods.js"></script>
<script src="/javascripts/lib/bootstrap-fileupload.min.js"></script>
<script src="/javascripts/settings/set_portrait.js"></script>
<% include ../../footer.html %>