<div id="copyrightbar">
    <div class="container">
        <p class="footer-info"><a href="/about">关 于 画 魂</a> | Copyright &copy; <%= currentYear %><a href="/"> <%=
            appName %></a></p>
    </div>
</div>