

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link href="http://cdn.staticfile.org/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
<title><%= title %> | xxx xxx.com</title>
<meta name="description" content="xxx xxx.com picture community ！">
