<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" style="padding: 0px" href="/"><img src="/images/app/logo.png"/></a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active" id="nav-gallery"><a href="/">画廊</a></li>
                    <li id="nav-painters"><a href="/artists">画家</a></li>
                    <li id="nav-drawing-hot"><a href="/drawings/hot">热门</a></li>
                    <li id="nav-tags"><a href="/tags">标签</a></li>
                </ul>
            </div>
            <% if(!currentUser){ %>
            <div class="pull-right">
                <a href="/register" class="btn btn-info">注册</a>
                <a href="/login" class="btn btn-success">登陆</a>
            </div>
            <% }else{ %>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">

                    <li><a href="/artist/<%= currentUser._id %>"><i class="icon-home icon-white"></i> <%=
                        currentUser.name %></a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                            <i class="icon-edit icon-white"></i> 发布
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/drawing/new">新的一副画</a></li>
                            <li class="divider"></li>
                            <li><a href="/album/new">新的画册</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                            <i class="icon-envelope icon-white"></i> 消息 <span><%= messageCount.amount ? messageCount.amount : "" %></span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <% if(messageCount.drawingComment > 0){ %>
                            <li><a href="/message/drawing">查看回复 <%= messageCount.drawingComment %></a></li>
                            <% }else{ %>
                            <li><a href="/message/drawing">查看回复</a></li>
                            <% } %>
                            <% if(messageCount.at > 0){ %>
                            <li><a href="/message/at">查看@我 <%= messageCount.at %></a></li>
                            <% }else{ %>
                            <li><a href="/message/at">查看@我</a></li>
                            <% } %>
                            <% if(messageCount.personalChat > 0){ %>
                            <li><a href="/message/chat">查看私信 <%= messageCount.personalChat %></a></li>
                            <% }else{ %>
                            <li><a href="/message/chat">查看私信</a></li>
                            <% } %>
                            <li class="divider"></li>
                            <li><a href="/attentions/<%= currentUser._id %>">我的关注</a></li>
                            <li><a href="/fans/<%= currentUser._id %>">我的粉丝</a></li>
                            <li class="divider"></li>
                            <li><a href="/artist/<%= currentUser._id %>?collection">我的收藏</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                            <i class="icon-cog icon-white"></i> 设置
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/set/basic">基本信息</a></li>
                            <li><a href="/set/extra">附加信息</a></li>
                            <li><a href="/set/portrait">设置头像</a></li>
                            <li><a href="/set/password">密码修改</a></li>
                            <li class="divider"></li>
                            <li><a href="/logout">注销退出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <% } %>
        </div>
    </div>
</div>