<div id="sidebar">
    <div class="content">
        <a href="/artist/<%= host._id %>">
            <% if(host.portrait == "default"){ %>
            <img class="portrait" src="http://xxx.qiniudn.com/face180.png"/>
            <% }else{ %>
            <img class="portrait" src="http://xxx.qiniudn.com/<%= host.portrait %>-Mw180"/>
            <% } %>
        </a>
        <p><a href="/artist/<%= host._id %>"><h4 class="name"><%= host.name %></h4></a></p>
        <ul class="inline count">
            <li><a href="/attentions/<%= host._id %>">
                <span><%= host.attentionCount < 0 ? 0 : host.attentionCount %></span><br>
                <span>关注</span></a></li>
            <li><a href="/artist/<%= host._id %>">
                <span><%= host.paintingCount < 0 ? 0 : host.paintingCount %></span><br>
                <span>作品</span>
            </a></li>
            <li><a href="/fans/<%= host._id %>">
                <span class="fans"><%= host.followersCount < 0 ? 0 : host.followersCount %></span><br>
                <span>粉丝</span>
            </a></li>
        </ul>
        <table class="master">
            <% if(host.realName){ %>
            <tr>
                <td>姓名：</td>
                <td><%= host.realName %></td>
            </tr>
            <% } %>
            <% if(host.gender == "male"){ %>
            <tr>
                <td>性别：</td>
                <td>男</td>
            </tr>
            <% }else if(host.gender == "female"){ %>
            <tr>
                <td>性别：</td>
                <td>女</td>
            </tr>
            <% }else{ %>
            <tr>
                <td>性别：</td>
                <td>未鉴定</td>
            </tr>
            <% } %>
            <% if(host.birthday){ %>
            <tr>
                <td>生日：</td>
                <td><%= host.birthday %></td>
            </tr>
            <% }else{ %>
            <tr>
                <td>生日：</td>
                <td>未知秘密</td>
            </tr>
            <% } %>
            <% if(host.address){ %>
            <tr>
                <td>所在地：</td>
                <td><%= host.address %></td>
            </tr>
            <% }else{ %>
            <tr>
                <td>所在地：</td>
                <td>传说之地</td>
            </tr>
            <% } %>
            <% if(host.hometown){ %>
            <tr>
                <td>故乡：</td>
                <td><%= host.hometown %></td>
            </tr>
            <% } %>
            <% if(host.school){ %>
            <tr>
                <td>毕业院校：</td>
                <td><%= host.school %></td>
            </tr>
            <% } %>
            <% if(host.profession){ %>
            <tr>
                <td>从事职业：</td>
                <td><%= host.profession %></td>
            </tr>
            <% }else{ %>
            <tr>
                <td>从事职业：</td>
                <td>神秘职业</td>
            </tr>
            <% } %>
            <% if(host.company){ %>
            <tr>
                <td>所在单位：</td>
                <td><%= host.company %></td>
            </tr>
            <% } %>
            <% if(host.selfInfo){ %>
            <tr>
                <td>自我介绍：</td>
                <td><%= host.selfInfo %></td>
            </tr>
            <% }else{ %>
            <tr>
                <td>自我介绍：</td>
                <td>尽在不言中...</td>
            </tr>
            <% } %>
            <% if(host._tags.length){ %>
            <tr>
                <td>标签：</td>
                <td>
                    <% for(var i = 0; i < host._tags.length; i++){ %>
                    <a href="/tag/<%= host._tags[i]._id %>" class="tag">
                        <i class="icon-tag"></i> <span><%= host._tags[i].name %></span>
                    </a>
                    <% } %>
                </td>
            </tr>
            <% } %>
        </table>
        <% if(!currentUser || host._id != currentUser._id){ %>
        <button id="attention" class="btn btn-success btn-block" data-attention="<%= host._id %>"
                data-csrf="<%= csrfToken %>" disabled><i class="icon-user icon-white"></i> 我与TA
        </button>
        <a href="/chat/send/<%= host._id %>" class="btn btn-info btn-block"><i class="icon-envelope icon-white"></i> 发私信</a>
        <% } %>
    </div>
</div>