
<% include ../header.html %>
<link href="/stylesheets/index/index.css" rel="stylesheet">
<link href="/stylesheets/copyrightbar.css" rel="stylesheet">
<link href="/stylesheets/go_top.css" rel="stylesheet">
<% include ../below_header.html %>
<% include ../wrap_open.html %>
<% include ../navbar.html %>
<div class="container">
    <div id="gallery">
        <% for(var i in drawings){ %>
        <div class="span3">
            <div class="drawing">
                <a href="/drawing/<%= drawings[i]._id %>"><img
                        src="http://xxx.qiniudn.com/<%= drawings[i].path %>-Mw200"/></a>
            </div>
            <div class="info">
                <div class="portrait">
                    <a href="/artist/<%= drawings[i]._creator._id %>">
                        <% if(drawings[i]._creator.portrait == "default"){ %>
                        <img class="portrait"
                             src="http://xxx.qiniudn.com/face180.png-Mwh32"/>
                        <% }else{ %>
                        <img class="portrait"
                             src="http://xxx.qiniudn.com/<%= drawings[i]._creator.portrait %>-Mwh32"/>
                        <% } %>
                    </a>
                </div>
                <p>
                    <a href="/artist/<%= drawings[i]._creator._id %>"><%= drawings[i]._creator.name
                        %></a>&nbsp&nbsp作品<br/>
                    <a href="/drawing/<%= drawings[i]._id %>"><%= drawings[i].name %></a>
                </p>
            </div>
        </div>
        <% } %>
    </div>
    <div id="loading">
        <div id="init-loading">
            <img src="/images/app/loading.gif"><br/>
            <span><b>稍等一会，正在努力加载...</b></span>
        </div>
        <div id="next-loading"></div>
        <div id="last-loading">
            <img src="/images/app/loading.gif"><br/>
            <span><b>正在完成最后的加载工作...</b></span>
        </div>
    </div>
    <div class="pager">
        <a href="?page=2"/>
    </div>
</div>
<% include ../wrap_close.html %>
<% include ../copyrightbar.html %>
<% include ../go_top.html %>
<% include ../above_footer.html %>
<script src="/javascripts/go_top.js"></script>
<script src="http://cdn.staticfile.org/masonry/3.1.1/masonry.pkgd.min.js"></script>
<script src="http://cdn.staticfile.org/imagesloaded/3.0.4/imagesloaded.pkgd.min.js"></script>
<script src="http://cdn.staticfile.org/jquery-infinitescroll/2.0b2.110713/jquery.infinitescroll.min.js"></script>
<script src="/javascripts/index/index.js"></script>
<% include ../footer.html %>