
<% include ../../header.html %>
<link href="/stylesheets/copyrightbar.css" rel="stylesheet">
<link href="/stylesheets/album/new.css" rel="stylesheet">
<% include ../../below_header.html %>
<% include ../../wrap_open.html %>
<% include ../../navbar.html %>
<div class="container">
    <% if(locals.error){ %>
    <div class="alert alert-block alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <ul>
            <li><%= error %></li>
        </ul>
    </div>
    <% } %>
    <% if(locals.success){ %>
    <div class="alert alert-block alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <ul>
            <li><%= success %></li>
        </ul>
    </div>
    <% } %>
    <div class="alert alert-block alert-error alert-client">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <ul>
        </ul>
    </div>
    <form class="form" action="/album/new" method="post">
        <fieldset>
            <legend>新的画册</legend>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <table class="tbl">
                <tr>
                    <td class="tag">名称：</td>
                    <td>
                        <input type="text" name="form[name]">
                    </td>
                </tr>
                <tr>
                    <td class="tag">描述：</td>
                    <td>
                        <textarea name="form[describe]"></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="tag">标签：</td>
                    <td>
                        <input type="text" name="form[tags]" placeholder="最多5个标签，用空格分开">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input id="submit" type="submit" class="btn btn-info" value="创      建">
                    </td>
                </tr>
            </table>
        </fieldset>
    </form>
</div>
<% include ../../wrap_close.html %>
<% include ../../copyrightbar.html %>
<% include ../../above_footer.html %>
<script src="http://cdn.staticfile.org/jquery-validate/1.11.1/jquery.validate.min.js"></script>
<script src="http://cdn.staticfile.org/jquery-validate/1.11.1/additional-methods.min.js"></script>
<script src="/javascripts/jquery.validate-custom-methods.js"></script>
<script src="/javascripts/album/new.js"></script>
<% include ../../footer.html %>