body {
    background-image: url("../../images/app/bg.png");
}

#content {
    margin-top: 20px;
}

#main-nav {
    padding: 15px 20px;
    background-image: url("../../images/app/bg_box.png");
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.breadcrumb {
    display: inline-block;
}

.drawing {
    padding: 20px;
    margin: auto;
    background-image: url("../../images/app/bg_box1.png");
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    text-align: center;
}

.drawing img {
    margin: 0px auto;
}

.info {
    margin-top: 20px;
    padding: 20px;
    background-image: url("../../images/app/bg_box.png");
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

a.drawing-tag {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.info table {
    margin-bottom: 0px;
    table-layout: fixed;
}

td {
    word-break: break-all;
    word-wrap: break-word;
}

p, ul.pager, .form, .breadcrumb {
    margin-bottom: 0px;
}

.info td:first-child {
    width: 120px;
}

#comments table {
    border: 1px solid #dddddd;
}

#comments td:first-child {
    width: 50px;
}

#comments {
    margin-top: 20px;
    padding: 20px;
    background-image: url("../../images/app/bg_box.png");
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

#comments img {
    width: 48px;
    height: 48px;
}

.comment-time {
    margin-right: 20px;
    color: #808080;
}

#say {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 25px;
    background-image: url("../../images/app/bg_box.png");
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.reply {
    margin-right: 10px;
}

input[name="form[at]"] {
    display: none;
}

input[type="submit"] {
    margin-left: 10px;
}

textarea {
    resize: none;
    font-size: 16px;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.alert {
    margin: 20px auto 10px;
}

.alert-client {
    display: none;
}