<% for(var i in drawings){ %>
<div class="drawing-box span3">
    <div class="drawing">
        <a href="/drawing/<%= drawings[i]._id %>"><img
                src="http://xxx.qiniudn.com/<%= drawings[i].path %>-Mw200"/></a>
    </div>
    <div class="drawing-info">
        作品 <a href="/drawing/<%= drawings[i]._id %>"><%= drawings[i].name %></a>
    </div>
</div>
<% } %>
