
<% include ../../header.html %>
<link href="/stylesheets/copyrightbar.css" rel="stylesheet">
<link href="/stylesheets/user_info_sidebar.css" rel="stylesheet">
<link href="/stylesheets/album/show_one.css" rel="stylesheet">
<link href="/stylesheets/go_top.css" rel="stylesheet">
<% include ../../below_header.html %>
<% include ../../wrap_open.html %>
<% include ../../navbar.html %>
<div class="container">
    <div class="row">
        <div class="span3 sidebar">
            <% include ../../user_info_sidebar.html %>
        </div>
        <div class="span9 main">
            <div id="main-nav">
                <ul class="breadcrumb">
                    <li><a href="/artist/<%= host._id %>?album">画册集</a> <span class="divider">>></span></li>
                    <li class="active"><a href="/album/<%= album._id %>"><%= album.name %></a></li>
                </ul>
                <% if(currentUser && currentUser._id == host._id){ %>
                <a href="/album/edit/<%= album._id %>" class="btn btn-info pull-right"><i
                        class="icon-wrench icon-white"></i> 编辑</a>
                <% } %>
            </div>
            <div id="info">
                <table class="table table-bordered">
                    <tr>
                        <td>
                            画册：
                        </td>
                        <td>
                            <%= album.name %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            发布时间：
                        </td>
                        <td>
                            <%= album.formattedCreateTime %>
                        </td>
                    </tr>
                    <% if(album.describe){ %>
                    <tr>
                        <td>
                            描述：
                        </td>
                        <td>
                            <%= album.describe %>
                        </td>
                    </tr>
                    <% } %>
                    <% if(album._tags.length){ %>
                    <tr>
                        <td>标签：</td>
                        <td>
                            <% for(var i = 0; i < album._tags.length; i++){ %>
                            <a href="/tag/<%= album._tags[i]._id %>" class="album-tag">
                                <i class="icon-tag"></i> <%= album._tags[i].name %>
                            </a>
                            <% } %>
                        </td>
                    </tr>
                    <% } %>
                </table>
            </div>
            <div id="gallery">
                <% for(var i in drawings){ %>
                <div class="drawing-box span3">
                    <div class="drawing">
                        <a href="/drawing/<%= drawings[i]._id %>"><img
                                src="http://xxx.qiniudn.com/<%= drawings[i].path %>-Mw200"/></a>
                    </div>
                    <div class="drawing-info">
                        作品 <a href="/drawing/<%= drawings[i]._id %>"><%= drawings[i].name %></a>
                    </div>
                </div>
                <% } %>
            </div>
            <div id="loading">
                <div id="init-loading">
                    <img src="/images/app/loading.gif"><br/>
                    <span><b>稍等一会，正在努力加载...</b></span>
                </div>
                <div id="next-loading"></div>
                <div id="last-loading">
                    <img src="/images/app/loading.gif"><br/>
                    <span><b>正在完成最后的加载工作...</b></span>
                </div>
            </div>
            <div class="pager">
                <a href="?page=2"/>
            </div>
        </div>
    </div>
</div>
<% include ../../wrap_close.html %>
<% include ../../copyrightbar.html %>
<% include ../../go_top.html %>
<% include ../../above_footer.html %>
<script src="/javascripts/go_top.js"></script>
<script src="/javascripts/user_info_sidebar.js"></script>
<script src="http://cdn.staticfile.org/masonry/3.1.1/masonry.pkgd.min.js"></script>
<script src="http://cdn.staticfile.org/imagesloaded/3.0.4/imagesloaded.pkgd.min.js"></script>
<script src="http://cdn.staticfile.org/jquery-infinitescroll/2.0b2.110713/jquery.infinitescroll.min.js"></script>
<script src="/javascripts/album/show_one.js"></script>
<% include ../../footer.html %>