body {
    background-image: url("../../images/app/bg.png");
}

#license {
    max-width: 700px;
    margin: 30px auto;
    padding: 19px 29px 29px;
    background-image: url("../../images/app/bg_box.png");
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}