
<% include ../../header.html %>
<link href="/stylesheets/copyrightbar.css" rel="stylesheet">
<link href="/stylesheets/personal_chat/send_chat.css" rel="stylesheet">
<% include ../../below_header.html %>
<% include ../../wrap_open.html %>
<% include ../../navbar.html %>
<div class="container">

    <% if(locals.error){ %>
    <div class="alert alert-block alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <ul>
            <li><%= error %></li>
        </ul>
    </div>
    <% } %>
    <% if(locals.success){ %>
    <div class="alert alert-block alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <ul>
            <li><%= success %></li>
        </ul>
    </div>
    <% } %>
    <div class="alert alert-block alert-error alert-client">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <ul>
        </ul>
    </div>
    <form class="form" action="/chat/send/<%= to._id %>" method="post">
        <fieldset>
            <legend>给 <%= to.name %> 发送私信</legend>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <table class="tbl">
                <tr>
                    <td class="tag">发给：</td>
                    <td>
                        <p><%= to.name %></p>
                    </td>
                </tr>
                <tr>
                    <td class="tag">内容：</td>
                    <td>
                        <textarea name="form[content]" id="describe"></textarea>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input id="submit" type="submit" class="btn btn-info" value="发      送">
                    </td>
                </tr>
            </table>
        </fieldset>
    </form>

</div>
<% include ../../wrap_close.html %>
<% include ../../copyrightbar.html %>
<% include ../../above_footer.html %>
<script src="http://cdn.staticfile.org/jquery-validate/1.11.1/jquery.validate.min.js"></script>
<script src="http://cdn.staticfile.org/jquery-validate/1.11.1/additional-methods.min.js"></script>
<script src="/javascripts/jquery.validate-custom-methods.js"></script>
<script src="/javascripts/personal_chat/send_chat.js"></script>
<% include ../../footer.html %>