html,
body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px;
}

#push,
#copyrightbar {
    height: 40px;
}

#copyrightbar {
    background-color: #000000;
}

@media (max-width: 767px) {
    #copyrightbar {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

#wrap > .container {
    padding-top: 60px;
}

p.footer-info {
    margin: 10px 0px;
    text-align: center;
}