#sidebar {
    width: 180px;
    padding: 20px;
    background-image: url("../images/app/bg_box.png");
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

img.portrait {
    width: 180px;
    margin: auto;
}

.count li, h4.name {
    text-align: center;
}

.count li {
    width: 47px;
}

a.tag {
    padding: 5px 10px;
    margin: 5px;
    text-align: center;
    display: inline-block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.master {
    margin-bottom: 10px;
}
.master td{
    padding: 5px 0px;
}

.master tr td:first-child {
    width: 70px;
    vertical-align: top;
    color: #808080;

}
table {
    table-layout: fixed;
}

td {
    word-break: break-all;
    word-wrap: break-word;
}
