body {
    background-image: url("../../images/app/bg.png");
}
#gallery, #last-loading {
    display: none;
    margin-top: 20px;
}
#loading {
    text-align: center;
}
#main-nav {
    padding: 15px 20px 0px;
    background-image: url("../../images/app/bg_box.png");
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.breadcrumb {
    display: inline-block;
}

#info {
    margin-top: 20px;
    padding: 20px;
    background-image: url("../../images/app/bg_box.png");
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.drawing-box {
    margin-left: 0px;
    margin-bottom: 20px;
    background-image: url("../../images/app/bg_box1.png");
    font-size: 12px;
    line-height: 1.4em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

div.drawing {
    padding: 10px;
    text-align: center;
}

.drawing-info {
    padding: 12px 12px;
    margin-top: 1px;
    margin-bottom: 0px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-image: url("../../images/app/bg_box2.png");
}

a.album-tag {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

#info table {
    table-layout: fixed;
    margin-bottom: 0px;
}

td {
    word-break: break-all;
    word-wrap: break-word;
}

#info td:first-child {
    width: 120px;
}
