body {
    background-image: url("../../images/app/bg.png");
}
#list, #last-loading {
    display: none;
}
#loading {
    text-align: center;
}
.span3 {
    margin-left: 0px;
    margin-bottom: 20px;
    background-image: url("../../images/app/bg_box1.png");
    line-height: 1.4em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

img.portrait {
    width: 64px;
    height: 64px;
}

div.portrait {
    float: left;
}

p {
    margin-bottom: 0px;
    margin-left: 80px;
    margin-top: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.info {
    padding: 12px 12px;
    margin-top: 1px;
}

p span {
    color: #808080;
    font-size: 12px;
}

