<% for(var i in drawings){ %>
<div class="span3">
    <div class="drawing">
        <a href="/drawing/<%= drawings[i]._id %>"><img
                src="http://xxx.qiniudn.com/<%= drawings[i].path %>-Mw200"/></a>
    </div>
    <div class="info">
        <div class="portrait">
            <a href="/artist/<%= drawings[i]._creator._id %>">
                <% if(drawings[i]._creator.portrait == "default"){ %>
                <img class="portrait"
                     src="http://xxx.qiniudn.com/face180.png-Mwh32"/>
                <% }else{ %>
                <img class="portrait"
                     src="http://xxx.qiniudn.com/<%= drawings[i]._creator.portrait %>-Mwh32"/>
                <% } %>
            </a>
        </div>
        <p>
            <a href="/artist/<%= drawings[i]._creator._id %>"><%= drawings[i]._creator.name %></a>&nbsp&nbsp作品<br/>
            <a href="/drawing/<%= drawings[i]._id %>"><%= drawings[i].name %></a>
        </p>
    </div>
</div>
<% } %>