
<% include ../../header.html %>
<link href="/stylesheets/copyrightbar.css" rel="stylesheet">
<link href="/stylesheets/message/message.css" rel="stylesheet">
<% include ../../below_header.html %>
<% include ../../wrap_open.html %>
<% include ../../navbar.html %>
<div class="container">
    <div id="nav">
        <ul class="nav nav-pills">
            <li><a href="./drawing">作品的回复</a></li>
            <li class="active">
                <a href="./at">@我的留言</a>
            </li>
            <li>
                <a href="./chat">我的私信</a>
            </li>
        </ul>
    </div>
    <div id="content">
        <form action="" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <ul class="nav nav-tabs">
                <% if(locals.unread){ %>
                <li class="active">
                    <a href="?unread">未读</a>
                </li>
                <li><a href="?read">已读</a></li>
                <% }else if(locals.read){ %>
                <li>
                    <a href="?unread">未读</a>
                </li>
                <li class="active"><a href="?read">已读</a></li>
                <% } %>
                <button class="btn btn-danger pull-right" data-toggle="modal" data-target="#modal">删除所有</button>
                <input type="submit" class="btn btn-danger pull-right" value="删除选中">
            </ul>
            <table class="table table-striped table-bordered">
                <% if(atMessages.length == 0){ %>
                <tr>
                    <td>
                        暂时没有新的@信息
                    </td>
                </tr>
                <% } %>
                <% for(var i in atMessages){ %>
                <tr>
                    <td>
                        <label class="checkbox">
                            <input type="checkbox" name="form[messages]" value="<%= atMessages[i]._id %>">
                            <a href="/artist/<%= atMessages[i]._from._id %>"><%= atMessages[i]._from.name %></a>
                            在 <a
                                href="/message/set/read?d=<%= atMessages[i]._drawing._id %>&c=<%= atMessages[i]._drawingComment._id%>&am=<%= atMessages[i]._id %>"><%=
                            atMessages[i]._drawing.name %></a>
                            中回复了您
                        </label>
                    </td>
                </tr>
                <% } %>
            </table>
        </form>
        <div id="page">
            <ul class="pager">
                <% if(currentPage > 1){ %>
                <li class="previous">
                    <% if(locals.unread){ %>
                    <a href="?page=<%= currentPage - 1 %>">向左走</a>
                    <% }else if(locals.read){ %>
                    <a href="?read&page=<%= currentPage - 1 %>">向左走</a>
                    <% } %>
                </li>
                <% } else { %>
                <li class="previous disabled">
                    <span>向左走</span>
                </li>
                <% } %>
                <% if(currentPage < pageAmount){ %>
                <li class="next">
                    <% if(locals.unread){ %>
                    <a href="?page=<%= currentPage + 1 %>">向右走</a>
                    <% }else if(locals.read){ %>
                    <a href="?read&page=<%= currentPage + 1 %>">向右走</a>
                    <% } %>
                </li>
                <% } else { %>
                <li class="next disabled">
                    <span>向右走</span>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
    <div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>删除</h3>
        </div>
        <div class="modal-body">
            <p><b>您将删除所有的@提醒</b>，确认删除？</p>
        </div>
        <div class="modal-footer">
            <form class="delete" action="" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
                <input type="submit" class="btn btn-danger" value="确认删除" id="delete-ensure">
            </form>
        </div>
    </div>
</div>
<% include ../../wrap_close.html %>
<% include ../../copyrightbar.html %>
<% include ../../above_footer.html %>
<script src="/javascripts/message/message.js"></script>
<% include ../../footer.html %>