
<% include ../../views/header.html %>
<link href="/stylesheets/error/error_500.css" rel="stylesheet">
<link href="/stylesheets/copyrightbar.css" rel="stylesheet">
<% include ../../views/below_header.html %>
<% include ../../views/wrap_open.html %>
<% include ../../views/navbar.html %>
<div class="container">
    <img id="error" src="/images/app/error_500.png">
</div>
<% include ../../views/wrap_close.html %>
<% include ../../views/copyrightbar.html %>
<% include ../../views/above_footer.html %>
<script src="/javascripts/error/error_500.js"></script>
<% include ../../views/footer.html %>
