
<% include ../../header.html %>
<link href="/stylesheets/copyrightbar.css" rel="stylesheet">
<link href="/stylesheets/settings/sidenav.css" rel="stylesheet">
<link href="/stylesheets/settings/set_password.css" rel="stylesheet">
<% include ../../below_header.html %>
<% include ../../wrap_open.html %>
<% include ../../navbar.html %>
<div class="container">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3 sidebar">
                <% include ../sidenav.html %>
            </div>
            <div class="span9 main">
                <% if(locals.error){ %>
                <div class="alert alert-block alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <ul>
                        <li><%= error %></li>
                    </ul>
                </div>
                <% } %>
                <% if(locals.success){ %>
                <div class="alert alert-block alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <ul>
                        <li><%= success %></li>
                    </ul>
                </div>
                <% } %>
                <div class="alert alert-block alert-error alert-client">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <ul>
                    </ul>
                </div>
                <form class="form" accept-charset="/set/password" method="post">
                    <fieldset>
                        <legend>密码修改</legend>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <table class="tbl">
                            <tr>
                                <td class="tag">当前密码：</td>
                                <td><input type="password" name="form[password]"/></td>
                            </tr>
                            <tr>
                                <td class="tag">新的密码：</td>
                                <td><input type="password" id="newPassword" name="form[newPassword]"/></td>
                            </tr>
                            <tr>
                                <td class="tag">确认新密码：</td>
                                <td><input type="password" name="form[passwordAgain]"/></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><input type="submit" class="btn btn-info" value="保存"/></td>
                            </tr>
                        </table>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<% include ../../wrap_close.html %>
<% include ../../copyrightbar.html %>
<% include ../../above_footer.html %>
<script src="http://cdn.staticfile.org/jquery-validate/1.11.1/jquery.validate.min.js"></script>
<script src="http://cdn.staticfile.org/jquery-validate/1.11.1/additional-methods.min.js"></script>
<script src="/javascripts/settings/set_password.js"></script>
<% include ../../footer.html %>