
<% include ../../header.html %>
<link href="/stylesheets/copyrightbar.css" rel="stylesheet">
<link href="/stylesheets/lib/bootstrap-select.min.css" rel="stylesheet">
<link href="/stylesheets/album/edit.css" rel="stylesheet">
<% include ../../below_header.html %>
<% include ../../wrap_open.html %>
<% include ../../navbar.html %>
<div class="container">
    <% if(locals.error){ %>
    <div class="alert alert-block alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <ul>
            <li><%= error %></li>
        </ul>
    </div>
    <% } %>
    <% if(locals.success){ %>
    <div class="alert alert-block alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <ul>
            <li><%= success %></li>
        </ul>
    </div>
    <% } %>
    <div class="alert alert-block alert-error alert-client">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <ul>
        </ul>
    </div>
    <form class="form" action="" method="post">
        <fieldset>
            <legend>编辑画册</legend>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <table class="tbl">
                <tr>
                    <td class="tag">名称：</td>
                    <td>
                        <% if(form.name){ %>
                        <input type="text" name="form[name]" value="<%= form.name %>">
                        <% }else{ %>
                        <input type="text" name="form[name]">
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <td class="tag">画册封面：</td>
                    <td>
                        <% if(form.coverPath){ %>
                        <select class="selectpicker" name="form[coverPath]">
                            <% for(var i in drawings){ %>
                            <% if(drawings[i].path == form.coverPath){ %>
                            <option value="<%= drawings[i].path %>" selected><%= drawings[i].name %></option>
                            <% }else{ %>
                            <option value="<%= drawings[i].path %>"><%= drawings[i].name %></option>
                            <% } %>
                            <% } %>
                        </select>
                        <% }else{ %>
                        <select class="selectpicker" name="form[coverPath]">
                            <% for(var i in drawings){ %>
                            <option value="<%= drawings[i].path %>"><%= drawings[i].name %></option>
                            <% } %>
                        </select>
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <td class="tag">描述：</td>
                    <td>
                        <% if(form.describe){ %>
                        <textarea name="form[describe]"><%= form.describe %></textarea>
                        <% }else{ %>
                        <textarea name="form[describe]"></textarea>
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <td class="tag">标签：</td>
                    <td>
                        <% if(form.tags){ %>
                        <input type="text" name="form[tags]" value="<%= form.tags %>" placeholder="最多5个标签，用空格分开">
                        <% }else{ %>
                        <input type="text" name="form[tags]" placeholder="最多5个标签，用空格分开">
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input id="submit" type="submit" class="btn btn-info" value="保存修改">
                        <button class="btn btn-danger" data-toggle="modal" data-target="#modal">删除此画册</button>
                    </td>
                </tr>
            </table>
        </fieldset>
    </form>
    <div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>删除</h3>
        </div>
        <div class="modal-body">
            <p><b>删除此画册将同时删除该画册下的所有画，并且删除后的数据将不可恢复</b>，如果您打算重新发布这些画，
                则需要重新上传，您的确期望这么做？</p>
        </div>
        <div class="modal-footer">
            <form class="delete" action="/album/delete" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="hidden" name="form[album]" value="<%= form.albumId %>">
                <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
                <input type="submit" class="btn btn-danger" value="确认删除" id="delete-ensure">
            </form>
        </div>
    </div>
</div>
<% include ../../wrap_close.html %>
<% include ../../copyrightbar.html %>
<% include ../../above_footer.html %>
<script src="/javascripts/lib/bootstrap-select.min.js"></script>
<script src="http://cdn.staticfile.org/jquery-validate/1.11.1/jquery.validate.min.js"></script>
<script src="http://cdn.staticfile.org/jquery-validate/1.11.1/additional-methods.min.js"></script>
<script src="/javascripts/jquery.validate-custom-methods.js"></script>
<script src="/javascripts/album/edit.js"></script>
<% include ../../footer.html %>