body {
    background-image: url("../../images/app/bg.png");
}

.container-fluid{
    padding: 0px;
}

td.tag {
    text-align: right;
    vertical-align: top;
    padding-right: 30px;
    width: 150px;
}

input[type="submit"] {
    margin-left: 10px;
}

.form {
    max-width: 700px;
    margin: 30px auto;
    padding: 19px 29px 29px;
    background-image: url("../../images/app/bg_box.png");
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.alert {
    max-width: 710px;
    margin: 0 auto 10px;
}

.alert-client {
    display: none;
}

div.default-thumbnail {
    max-width: 180px;
}

div.add-thumbnail {
    max-width: 180px;
    line-height: 20px;
}

div.control-btns {
    margin-top: 20px;
}

a.fileupload-exists {
    margin-left: 10px;
}

