
<% include ../../header.html %>
<link href="/stylesheets/copyrightbar.css" rel="stylesheet">
<link href="/stylesheets/auth/forget_password.css" rel="stylesheet">
<% include ../../below_header.html %>
<% include ../../wrap_open.html %>
<div class="container">
    <div class="reset-panel">
        <% if(locals.error){ %>
        <div class="alert alert-block alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <ul>
                <li><%= error %></li>
            </ul>
        </div>
        <% } %>
        <% if(locals.success){ %>
        <div class="alert alert-block alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <ul>
                <li><%= success %></li>
            </ul>
        </div>
        <% } %>
        <div class="alert alert-block alert-error alert-client">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <ul>
            </ul>
        </div>
        <form class="form" action="/forget/password" method="post">
            <fieldset>
                <legend>忘记密码</legend>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="email" class="input-block-level" placeholder="您的邮箱" name="form[email]">
                <a href="/login" class="btn btn-link">尝试登陆？</a>
                <input id="submit" type="submit" class="btn btn-info pull-right" value="忘记密码">
            </fieldset>
        </form>
    </div>
</div>
<% include ../../wrap_close.html %>
<% include ../../copyrightbar.html %>
<% include ../../above_footer.html %>
<script src="http://cdn.staticfile.org/jquery-validate/1.11.1/jquery.validate.min.js"></script>
<script src="http://cdn.staticfile.org/jquery-validate/1.11.1/additional-methods.min.js"></script>
<script src="/javascripts/auth/forget_password.js"></script>
<% include ../../footer.html %>