<% for(var i in attentions){ %>
<div class="span3">
    <div class="info">
        <div class="portrait">
            <a href="/artist/<%= attentions[i]._creator._id %>">
                <% if(attentions[i]._creator.portrait == "default"){ %>
                <img class="portrait"
                     src="http://xxx.qiniudn.com/face180.png-Mwh64"/>
                <% }else{ %>
                <img class="portrait"
                     src="http://xxx.qiniudn.com/<%= attentions[i]._creator.portrait %>-Mwh64"/>
                <% } %>
            </a>
        </div>
        <p>
            <a href="/artist/<%= attentions[i]._creator._id %>"><%= attentions[i]._creator.name %></a><br/>
            <% if(attentions[i]._creator.profession){ %>
            <span><%= attentions[i]._creator.profession %></span>&nbsp&nbsp
            <% }else{ %>
            <span>神秘职业</span>
            <% } %>
            <% if(attentions[i]._creator.address){ %>
            <span><%= attentions[i]._creator.address %></span></br>
            <% }else{ %>
            <span>传说之地</span></br>
            <% } %>
            <% if(attentions[i]._creator.selfInfo){ %>
            <span><%= attentions[i]._creator.selfInfo %></span>
            <% }else{ %>
            <span>尽在不言中...</span>
            <% } %>
        </p>
    </div>
</div>
<% } %>