
<% include ../../header.html %>
<link href="/stylesheets/copyrightbar.css" rel="stylesheet">
<link href="/stylesheets/user/show_fans.css" rel="stylesheet">
<link href="/stylesheets/go_top.css" rel="stylesheet">
<% include ../../below_header.html %>
<% include ../../wrap_open.html %>
<% include ../../navbar.html %>
<div class="container">
    <div id="list">
        <% for(var i in attentions){ %>
        <div class="span3">
            <div class="info">
                <div class="portrait">
                    <a href="/artist/<%= attentions[i]._creator._id %>">
                        <% if(attentions[i]._creator.portrait == "default"){ %>
                        <img class="portrait"
                             src="http://xxx.qiniudn.com/face180.png-Mwh64"/>
                        <% }else{ %>
                        <img class="portrait"
                             src="http://xxx.qiniudn.com/<%= attentions[i]._creator.portrait %>-Mwh64"/>
                        <% } %>
                    </a>
                </div>
                <p>
                    <a href="/artist/<%= attentions[i]._creator._id %>"><%= attentions[i]._creator.name %></a><br/>
                    <% if(attentions[i]._creator.profession){ %>
                    <span><%= attentions[i]._creator.profession %></span>&nbsp&nbsp
                    <% }else{ %>
                    <span>神秘职业</span>
                    <% } %>
                    <% if(attentions[i]._creator.address){ %>
                    <span><%= attentions[i]._creator.address %></span></br>
                    <% }else{ %>
                    <span>传说之地</span></br>
                    <% } %>
                    <% if(attentions[i]._creator.selfInfo){ %>
                    <span><%= attentions[i]._creator.selfInfo %></span>
                    <% }else{ %>
                    <span>尽在不言中...</span>
                    <% } %>
                </p>
            </div>
        </div>
        <% } %>
    </div>
    <div id="loading">
        <div id="init-loading">
            <img src="/images/app/loading.gif"><br/>
            <span><b>稍等一会，正在努力加载...</b></span>
        </div>
        <div id="next-loading"></div>
        <div id="last-loading">
            <img src="/images/app/loading.gif"><br/>
            <span><b>正在完成最后的加载工作...</b></span>
        </div>
    </div>
    <div class="pager">
        <a href="?page=2"/>
    </div>
</div>
<% include ../../wrap_close.html %>
<% include ../../copyrightbar.html %>
<% include ../../go_top.html %>
<% include ../../above_footer.html %>
<script src="/javascripts/go_top.js"></script>
<script src="http://cdn.staticfile.org/masonry/3.1.1/masonry.pkgd.min.js"></script>
<script src="http://cdn.staticfile.org/imagesloaded/3.0.4/imagesloaded.pkgd.min.js"></script>
<script src="http://cdn.staticfile.org/jquery-infinitescroll/2.0b2.110713/jquery.infinitescroll.min.js"></script>
<script src="/javascripts/user/show_fans.js"></script>
<% include ../../footer.html %>