body {
    background-image: url("../../images/app/bg.png");
}

#nav {
    max-width: 700px;
    margin: 30px auto;
    padding: 20px 30px;
    background-image: url("../../images/app/bg_box.png");
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

#content {
    max-width: 700px;
    margin: 30px auto;
    padding: 20px 30px;
    background-image: url("../../images/app/bg_box.png");
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

table {
    table-layout: fixed;
}

td {
    word-break: break-all;
    word-wrap: break-word;
}

.nav-pills {
    margin-bottom: 0px;
}

ul.pager {
    margin-bottom: 0px;
}

button.btn-danger {
    margin-left: 10px;
}

input[type="checkbox"] {
    margin-left: auto;
    float: left;
}

.modal-body b {
    color: red;
}
