
<% include ../../header.html %>
<link href="/stylesheets/info/about.css" rel="stylesheet">
<link href="/stylesheets/copyrightbar.css" rel="stylesheet">
<link href="/stylesheets/go_top.css" rel="stylesheet">
<% include ../../below_header.html %>
<% include ../../wrap_open.html %>
<% include ../../navbar.html %>
<div class="container">
    <div id="about">
        <legend>关 于</legend>
        <strong>xxx xxx.com</strong> 是一个画画爱好者社区，欢迎大家加入。<br/><br/>
        xxx的愿景是成为一个氛围良好的画画爱好者社区，让喜爱画画的同学们能够在此自由地交流与展示自己的作品，愿xxx能够给大家的生活带来乐趣。<br/><br/>
        希望大家能够多多分享自己的作品与想法，同时也祝愿大家在这里能够得到快乐，找到朋友 AND MORE ......<br/><br/>
        为了保持xxx社区良好的氛围，请大家遵守以下规则：
        <ul>
            <li>尊重原创，尊重他人，禁止任何形式的语言暴力</li>
            <li>发言内容尽可能对他人有意义，有帮助，减少无用信息，杜绝垃圾信息</li>
            <li>禁止在xxx发布任何违反法律，违背道德的内容</li>
            <li>最后，回归和谐——时刻保持对他人的友善</li>
        </ul>
        <br/>
        为了获得较好的体验，访问xxx时请使用现代浏览器，如果使用过程中出现不正常的显示，也许代表着您应该升级您的浏览器了。<br/></br>
        如果使用过程中遇到问题，可联系 <a href="mailto:feedback@xxx.com">feedback@xxx.com</a> 。
    </div>
</div>
<% include ../../wrap_close.html %>
<% include ../../copyrightbar.html %>
<% include ../../go_top.html %>
<% include ../../above_footer.html %>
<script src="/javascripts/go_top.js"></script>
<script src="/javascripts/info/about.js"></script>
<% include ../../footer.html %>