body {
    background-image: url("../../images/app/bg.png");
}
#gallery, #last-loading {
    display: none;
}
#loading {
    text-align: center;
}
div.drawing, div.album, div.user {
    padding: 10px;
    text-align: center;
}

.drawing-box, .album-box, .user-box {
    margin-left: 0px;
    margin-bottom: 20px;
    background-image: url("../../images/app/bg_box1.png");
    font-size: 12px;
    line-height: 1.4em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.drawing-info, .album-info, .user-info {
    padding: 12px 12px;
    margin-top: 1px;
    margin-bottom: 0px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-image: url("../../images/app/bg_box2.png");
}