
<% include ../../header.html %>
<link href="/stylesheets/info/license.css" rel="stylesheet">
<link href="/stylesheets/copyrightbar.css" rel="stylesheet">
<link href="/stylesheets/go_top.css" rel="stylesheet">
<% include ../../below_header.html %>
<% include ../../wrap_open.html %>
<% include ../../navbar.html %>
<div class="container">
    <div id="license">
        <legend>服务条款</legend>
    </div>
</div>
<% include ../../wrap_close.html %>
<% include ../../copyrightbar.html %>
<% include ../../go_top.html %>
<% include ../../above_footer.html %>
<script src="/javascripts/go_top.js"></script>
<script src="/javascripts/info/license.js"></script>
<% include ../../footer.html %>