
<% include ../../header.html %>
<link href="/stylesheets/copyrightbar.css" rel="stylesheet">
<link href="/stylesheets/tag/get_tags.css" rel="stylesheet">
<% include ../../below_header.html %>
<% include ../../wrap_open.html %>
<% include ../../navbar.html %>
<div class="container">
    <div id="content">
        <% if(tags.length == 0){ %>
        <div class="text-center">暂时没有标签哦，快来做第一个贴标人吧！</div>
        <% } %>
        <% for(var i = 0; i < tags.length; i++){ %>
        <a href="/tag/<%= tags[i]._id %>" class="tag"><i class="icon-tag"></i> <%=
            tags[i].name %></a>
        <% } %>
        <div id="page">
            <ul class="pager">
                <% if(currentPage > 1){ %>
                <li class="previous">
                    <a href="?page=<%= currentPage - 1 %>">向左走</a>
                </li>
                <% } else { %>
                <li class="previous disabled">
                    <span>向左走</span>
                </li>
                <% } %>
                <% if(currentPage < pageAmount){ %>
                <li class="next">
                    <a href="?page=<%= currentPage + 1 %>">向右走</a>
                </li>
                <% } else { %>
                <li class="next disabled">
                    <span>向右走</span>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</div>
<% include ../../wrap_close.html %>
<% include ../../copyrightbar.html %>
<% include ../../above_footer.html %>
<script src="/javascripts/tag/get_tags.js"></script>
<% include ../../footer.html %>