
<% include ../../header.html %>
<link href="/stylesheets/copyrightbar.css" rel="stylesheet">
<link href="/stylesheets/settings/sidenav.css" rel="stylesheet">
<link href="/stylesheets/settings/set_extra.css" rel="stylesheet">
<% include ../../below_header.html %>
<% include ../../wrap_open.html %>
<% include ../../navbar.html %>
<div class="container">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3 sidebar">
                <% include ../sidenav.html %>
            </div>
            <div class="span9 main">
                <% if(locals.error){ %>
                <div class="alert alert-block alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <ul>
                        <li><%= error %></li>
                    </ul>
                </div>
                <% } %>
                <% if(locals.success){ %>
                <div class="alert alert-block alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <ul>
                        <li><%= success %></li>
                    </ul>
                </div>
                <% } %>
                <div class="alert alert-block alert-error alert-client">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <ul>
                    </ul>
                </div>
                <form class="form" action="/set/extra" method="post">
                    <fieldset>
                        <legend>附加信息</legend>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <table class="tbl">
                            <tr>
                                <td class="tag">姓名：</td>
                                <td>
                                    <% if(form.realName){ %>
                                    <input type="text" name="form[realName]" value="<%= form.realName %>"/>
                                    <% }else{ %>
                                    <input type="text" name="form[realName]"/>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td class="tag">故乡：</td>
                                <td>
                                    <% if(form.hometown){ %>
                                    <input type="text" name="form[hometown]" value="<%= form.hometown %>"/>
                                    <% }else{ %>
                                    <input type="text" name="form[hometown]"/>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td class="tag">毕业院校：</td>
                                <td>
                                    <% if(form.school){ %>
                                    <input type="text" name="form[school]" value="<%= form.school %>"/>
                                    <% }else{ %>
                                    <input type="text" name="form[school]"/>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td class="tag">从事职业：</td>
                                <td>
                                    <% if(form.profession){ %>
                                    <input type="text" name="form[profession]" value="<%= form.profession %>"/>
                                    <% }else{ %>
                                    <input type="text" name="form[profession]"/>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td class="tag">所在单位：</td>
                                <td>
                                    <% if(form.company){ %>
                                    <input type="text" name="form[company]" value="<%= form.company %>"/>
                                    <% }else{ %>
                                    <input type="text" name="form[company]"/>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td class="tag">个人标签：</td>
                                <td>
                                    <% if(locals.tags){ %>
                                    <input type="text" name="form[tags]" value="<%= tags.join(' ') %>" placeholder="最多5个标签，用空格分开"/>
                                    <% }else{ %>
                                    <input type="text" name="form[tags]" value="<%= form.tags %>" placeholder="最多5个标签，用空格分开"/>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><input type="submit" class="btn btn-info" value="保存"/></td>
                            </tr>
                        </table>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<% include ../../wrap_close.html %>
<% include ../../copyrightbar.html %>
<% include ../../above_footer.html %>
<script src="http://cdn.staticfile.org/jquery-validate/1.11.1/jquery.validate.min.js"></script>
<script src="http://cdn.staticfile.org/jquery-validate/1.11.1/additional-methods.min.js"></script>
<script src="/javascripts/jquery.validate-custom-methods.js"></script>
<script src="/javascripts/settings/set_extra.js"></script>
<% include ../../footer.html %>