
<% include ../../header.html %>
<link href="/stylesheets/copyrightbar.css" rel="stylesheet">
<link href="/stylesheets/lib/bootstrap-fileupload.min.css" rel="stylesheet">
<link href="/stylesheets/lib/bootstrap-select.min.css" rel="stylesheet">
<link href="/stylesheets/drawing/new.css" rel="stylesheet">
<% include ../../below_header.html %>
<% include ../../wrap_open.html %>
<% include ../../navbar.html %>
<div class="container">
    <% if(locals.error){ %>
    <div class="alert alert-block alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <ul>
            <li><%= error %></li>
        </ul>
    </div>
    <% } %>
    <% if(locals.success){ %>
    <div class="alert alert-block alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <ul>
            <li><%= success %></li>
        </ul>
    </div>
    <% } %>
    <div class="alert alert-block alert-error alert-client">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <ul>
        </ul>
    </div>
    <form class="form" action="http://up.qiniu.com/" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend>新的一幅画</legend>
            <input name="key" type="hidden" value="<%= fileKey %>">
            <input name="x:key" type="hidden" value="<%= fileKey %>">
            <input name="token" type="hidden" value="<%= upToken %>">
            <table class="tbl">
                <tr>
                    <td class="tag">画名：</td>
                    <td>
                        <% if(form.name){ %>
                        <input type="text" name="x:name" value="<%= form.name %>">
                        <% }else{ %>
                        <input type="text" name="x:name">
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <td class="tag">新的一幅画：</td>
                    <td>
                        <div class="fileupload fileupload-new" data-provides="fileupload">
                            <div class="fileupload-new thumbnail default-thumbnail">
                                <% if(locals.drawing){ %>
                                <img src="http://xxx.qiniudn.com/<%= drawing %>-Mw400"/>
                                <% }else{ %>
                                <img src="/images/app/default_drawing.png"/>
                                <% } %>
                            </div>
                            <div class="fileupload-preview fileupload-exists thumbnail add-thumbnail"
                                    ></div>
                            <div class="control-btns">
                                            <span class="btn btn-file"><span class="fileupload-new">选择一幅画</span><span
                                                    class="fileupload-exists">更改</span>
                                                   <input type="file" name="file"/>
                                            </span>
                                <a href="#" class="btn fileupload-exists"
                                   data-dismiss="fileupload">取消</a>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="tag">所属画册：</td>
                    <td>
                        <% if(form.album){ %>
                        <select class="selectpicker" name="x:album">
                            <% for(var i in albums){ %>
                            <% if(albums[i]._id == form.album){ %>
                            <option value="<%= albums[i]._id %>" selected><%= albums[i].name %></option>
                            <% }else{ %>
                            <option value="<%= albums[i]._id %>"><%= albums[i].name %></option>
                            <% } %>
                            <% } %>
                        </select>
                        <% }else{ %>
                        <select class="selectpicker" name="x:album">
                            <% for(var i in albums){ %>
                            <option value="<%= albums[i]._id %>"><%= albums[i].name %></option>
                            <% } %>
                        </select>
                        <% } %>
                        <a href="/album/new" class="btn btn-link">新的画册</a>
                    </td>
                </tr>
                <tr>
                    <td class="tag">描述：</td>
                    <td>
                        <% if(form.describe){ %>
                        <textarea name="x:describe"><%= form.describe %></textarea>
                        <% }else{ %>
                        <textarea name="x:describe"></textarea>
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <td class="tag">标签：</td>
                    <td>
                        <% if(form.tags){ %>
                        <input type="text" name="x:tags" value="<%= form.tags %>" placeholder="最多5个标签，用空格分开">
                        <% }else{ %>
                        <input type="text" name="x:tags" placeholder="最多5个标签，用空格分开">
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input id="submit" type="submit" class="btn btn-info" value="发      布">
                    </td>
                </tr>
            </table>
        </fieldset>
    </form>
</div>
<% include ../../wrap_close.html %>
<% include ../../copyrightbar.html %>
<% include ../../above_footer.html %>
<script src="/javascripts/lib/bootstrap-fileupload.min.js"></script>
<script src="/javascripts/lib/bootstrap-select.min.js"></script>
<script src="http://cdn.staticfile.org/jquery-validate/1.11.1/jquery.validate.min.js"></script>
<script src="http://cdn.staticfile.org/jquery-validate/1.11.1/additional-methods.min.js"></script>
<script src="/javascripts/jquery.validate-custom-methods.js"></script>
<script src="/javascripts/drawing/new.js"></script>
<% include ../../footer.html %>