
<% include ../../header.html %>
<link href="/stylesheets/copyrightbar.css" rel="stylesheet">
<link href="/stylesheets/user_info_sidebar.css" rel="stylesheet">
<link href="/stylesheets/drawing/show_one.css" rel="stylesheet">
<link href="/stylesheets/go_top.css" rel="stylesheet">
<% include ../../below_header.html %>
<% include ../../wrap_open.html %>
<% include ../../navbar.html %>
<div class="container">
    <div class="row">
        <div class="span3 sidebar">
            <% include ../../user_info_sidebar.html %>
        </div>
        <div class="span9 main">
            <div id="main-nav">
                <ul class="breadcrumb">
                    <li><a href="/artist/<%= host._id %>?album">画册集</a><span class="divider">>></span></li>
                    <li class="active"><a href="/album/<%= drawing._album._id %>"><%= drawing._album.name %></a><span
                            class="divider">>></span></li>
                    <li class="active"><a href="/drawing/<%= drawing._id %>"><%= drawing.name %></a></li>
                </ul>
                <% if(!currentUser || currentUser._id != host._id){ %>
                <div class="btn-group pull-right" data-toggle="buttons-checkbox">
                    <button id="like" class="btn btn-info" data-like="<%= drawing._id %>" data-csrf="<%= csrfToken %>"
                            disabled><i class="icon-heart icon-white"></i> 喜欢(<span>0</span>)
                    </button>
                    <button id="collection" class="btn btn-success" disabled><i class="icon-bookmark icon-white"></i>
                        收藏(<span>0</span>)
                    </button>
                </div>
                <% }else{ %>
                <a href="/drawing/edit/<%= drawing._id %>" class="btn btn-info pull-right"><i
                        class="icon-wrench icon-white"></i> 编辑</a>
                <% } %>
            </div>
            <div id="content">
                <div class="drawing">
                    <img src="http://xxx.qiniudn.com/<%= drawing.path %>-Mw660"/></span>
                </div>
                <div class="info">
                    <table class="table table-bordered">
                        <tr>
                            <td>
                                画名：
                            </td>
                            <td>
                                <%= drawing.name %>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                所属画册：
                            </td>
                            <td>
                                <a href="/album/<%= drawing._album._id %>"><%= drawing._album.name %></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                发布时间：
                            </td>
                            <td>
                                <%= drawing.formattedCreateTime %>
                            </td>
                        </tr>
                        <% if(drawing.describe){ %>
                        <tr>
                            <td>
                                描述：
                            </td>
                            <td>
                                <%= drawing.describe %>
                            </td>
                        </tr>
                        <% } %>
                        <% if(drawing._tags.length){ %>
                        <tr>
                            <td>标签：</td>
                            <td>
                                <% for(var i = 0; i < drawing._tags.length; i++){ %>
                                <a href="/tag/<%= drawing._tags[i]._id %>" class="drawing-tag">
                                    <i class="icon-tag"></i> <%= drawing._tags[i].name %>
                                </a>
                                <% } %>
                            </td>
                        </tr>
                        <% } %>
                    </table>
                </div>
                <div id="comments">
                    <table class="table table-striped">
                        <% if(comments.length == 0){ %>
                        <tr>
                            <td>
                                暂无留言
                            </td>
                        </tr>
                        <% } %>
                        <% for(var i in comments){ %>
                        <tr>
                            <td>
                                <a href="/artist/<%= comments[i]._creator._id %>">
                                    <% if(comments[i]._creator.portrait == "default"){ %>
                                    <img class="portrait"
                                         src="http://xxx.qiniudn.com/face180.png-Mwh48"/>
                                    <% }else{ %>
                                    <img class="portrait"
                                         src="http://xxx.qiniudn.com/<%= comments[i]._creator.portrait %>-Mwh48"/>
                                    <% } %>
                                </a>
                            </td>
                            <td>
                                <a href="/artist/<%= comments[i]._creator._id %>"><span><%= comments[i]._creator.name %></span></a>
                                <a href="#say" class="pull-right reply" title="回复"
                                   onclick="reply('<%= comments[i]._creator.name %>')"><i
                                        class="icon-share-alt"></i></a>
                                <span class="pull-right comment-time"><%= comments[i].formattedCreateTime %></span>

                                <p>
                                    <% for(var j = 0; j < comments[i]._at.length; j++){ %>
                                    @<a href="/artist/<%= comments[i]._at[j]._id %>">
                                    <%= comments[i]._at[j].name %>
                                </a>
                                    <% } %>
                                    <%= comments[i].content %>
                                </p>
                            </td>
                        </tr>
                        <% }%>
                    </table>
                    <div id="page">
                        <ul class="pager">
                            <% if(currentPage > 1){ %>
                            <li class="previous">
                                <a href="?page=<%= currentPage - 1 %>#comments">向左走</a>
                            </li>
                            <% } else { %>
                            <li class="previous disabled">
                                <span>向左走</span>
                            </li>
                            <% } %>
                            <% if(currentPage < pageAmount){ %>
                            <li class="next">
                                <a href="?page=<%= currentPage + 1 %>#comments">向右走</a>
                            </li>
                            <% } else { %>
                            <li class="next disabled">
                                <span>向右走</span>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                </div>
                <% if(locals.error){ %>
                <div class="alert alert-block alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <ul>
                        <li><%= error %></li>
                    </ul>
                </div>
                <% } %>
                <div class="alert alert-block alert-error alert-client">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <ul>
                    </ul>
                </div>
                <div id="say">
                    <form class="form" method="post" action="#say">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <% if(locals.form){ %>
                        <input type="text" name="form[at]" value="<%= form.at %>" class="input-block-level"
                               placeholder="@谁 @谁 @谁">
                        <textarea name="form[content]" class="input-block-level" placeholder="我的留言"><%= form.content
                            %></textarea>
                        <% } else {%>
                        <input type="text" name="form[at]" class="input-block-level" placeholder="@谁 @谁 @谁"></textarea>
                        <textarea name="form[content]" class="input-block-level" placeholder="我的留言"></textarea>
                        <% } %>
                        <a class="btn btn-info">@</a>
                        <input type="submit" value="回       复" class="btn btn-success">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../../wrap_close.html %>
<% include ../../copyrightbar.html %>
<% include ../../go_top.html %>
<% include ../../above_footer.html %>
<script src="http://cdn.staticfile.org/jquery-validate/1.11.1/jquery.validate.min.js"></script>
<script src="http://cdn.staticfile.org/jquery-validate/1.11.1/additional-methods.min.js"></script>
<script src="/javascripts/jquery.validate-custom-methods.js"></script>
<script src="/javascripts/user_info_sidebar.js"></script>
<script src="/javascripts/go_top.js"></script>
<script src="/javascripts/drawing/show_one.js"></script>
<% include ../../footer.html %>