<% if(locals.drawings){ %>
<% for(var i in drawings){ %>
<div class="drawing-box span3">
    <div class="drawing">
        <a href="/drawing/<%= drawings[i]._id %>"><img
                src="http://xxx.qiniudn.com/<%= drawings[i].path %>-Mw200"/></a>
    </div>
    <div class="drawing-info">
        作品 <a href="/drawing/<%= drawings[i]._id %>"><%= drawings[i].name %></a>
    </div>
</div>
<% } %>
<% }else if(locals.albums){ %>
<% for(var i in albums){ %>
<div class="album-box span3">
    <div class="album">
        <a href="/album/<%= albums[i]._id %>">
            <% if(albums[i].coverPath == "default"){ %>
            <img
                    src="/images/app/album_cover.png"/>
            <% }else{ %>
            <img
                    src="http://xxx.qiniudn.com/<%= albums[i].coverPath %>-Mw200"/>
            <% } %>
        </a>
    </div>
    <div class="album-info">
        画册 <a href="/album/<%= albums[i]._id %>"><%= albums[i].name %></a>
    </div>
</div>
<% } %>
<% }else if(locals.collections){ %>
<% for(var i in collections){ %>
<div class="collection-box span3">
    <div class="collection">
        <a href="/drawing/<%= collections[i]._drawing._id %>"><img
                src="http://xxx.qiniudn.com/<%= collections[i]._drawing.path %>-Mw200"/></a>
    </div>
    <div class="collection-info">
        作品 <a href="/drawing/<%= collections[i]._drawing._id %>"><%= collections[i]._drawing.name %></a>
    </div>
</div>
<% } %>
<% } %>