
<% include ../../header.html %>
<link href="/stylesheets/copyrightbar.css" rel="stylesheet">
<link href="/stylesheets/user_info_sidebar.css" rel="stylesheet">
<link href="/stylesheets/user/show_one.css" rel="stylesheet">
<link href="/stylesheets/go_top.css" rel="stylesheet">
<% include ../../below_header.html %>
<% include ../../wrap_open.html %>
<% include ../../navbar.html %>
<div class="container">
    <div class="row">
        <div class="span3 sidebar">
            <% include ../../user_info_sidebar.html %>
        </div>
        <div class="span9 main">
            <div id="main-nav">
                <ul class="nav nav-pills">
                    <% if(locals.drawings){ %>
                    <li class="active"><a href="?drawing">作品</a></li>
                    <li>
                        <a href="?album">画册</a>
                    </li>
                    <% if(currentUser && host._id == currentUser._id){ %>
                    <li>
                        <a href="?collection">我的收藏</a>
                    </li>
                    <% } %>
                    <% }else if(locals.albums){ %>
                    <li><a href="?drawing">作品</a></li>
                    <li class="active">
                        <a href="?album">画册</a>
                    </li>
                    <% if(currentUser && host._id == currentUser._id){ %>
                    <li>
                        <a href="?collection">我的收藏</a>
                    </li>
                    <% } %>
                    <% }else if(locals.collections){ %>
                    <li><a href="?drawing">作品</a></li>
                    <li>
                        <a href="?album">画册</a>
                    </li>
                    <li class="active">
                        <a href="?collection">我的收藏</a>
                    </li>
                    <% } %>
                </ul>
                <% if(currentUser && currentUser._id == host._id){ %>
                <div class="control-panel btn-group pull-right">
                    <a href="/drawing/new" class="btn btn-info">新的作品</a>
                    <a href="/album/new" class="btn btn-success">新的画册</a>
                </div>
                <% } %>
            </div>
            <div id="gallery">
                <% if(locals.drawings){ %>
                <% for(var i in drawings){ %>
                <div class="drawing-box span3">
                    <div class="drawing">
                        <a href="/drawing/<%= drawings[i]._id %>"><img
                                src="http://xxx.qiniudn.com/<%= drawings[i].path %>-Mw200"/></a>
                    </div>
                    <div class="drawing-info">
                        作品 <a href="/drawing/<%= drawings[i]._id %>"><%= drawings[i].name %></a>
                    </div>
                </div>
                <% } %>
                <% }else if(locals.albums){ %>
                <% for(var i in albums){ %>
                <div class="album-box span3">
                    <div class="album">
                        <a href="/album/<%= albums[i]._id %>">
                            <% if(albums[i].coverPath == "default"){ %>
                            <img
                                    src="/images/app/album_cover.png"/>
                            <% }else{ %>
                            <img
                                    src="http://xxx.qiniudn.com/<%= albums[i].coverPath %>-Mw200"/>
                            <% } %>
                        </a>
                    </div>
                    <div class="album-info">
                        画册 <a href="/album/<%= albums[i]._id %>"><%= albums[i].name %></a>
                    </div>
                </div>
                <% } %>
                <% }else if(locals.collections){ %>
                <% for(var i in collections){ %>
                <div class="collection-box span3">
                    <div class="collection">
                        <a href="/drawing/<%= collections[i]._drawing._id %>"><img
                                src="http://xxx.qiniudn.com/<%= collections[i]._drawing.path %>-Mw200"/></a>
                    </div>
                    <div class="collection-info">
                        作品 <a href="/drawing/<%= collections[i]._drawing._id %>"><%= collections[i]._drawing.name %></a>
                    </div>
                </div>
                <% } %>
                <% } %>
            </div>
            <div id="loading">
                <div id="init-loading">
                    <img src="/images/app/loading.gif"><br/>
                    <span><b>稍等一会，正在努力加载...</b></span>
                </div>
                <div id="next-loading"></div>
                <div id="last-loading">
                    <img src="/images/app/loading.gif"><br/>
                    <span><b>正在完成最后的加载工作...</b></span>
                </div>
            </div>
            <% if(locals.drawings){ %>
            <div class="pager">
                <a href="?page=2&drawing"/>
            </div>
            <% }else if(locals.albums){ %>
            <div class="pager">
                <a href="?page=2&album"/>
            </div>
            <% }else if(locals.collections){ %>
            <div class="pager">
                <a href="?page=2&collection"/>
            </div>
            <% } %>
        </div>
    </div>
</div>
<% include ../../wrap_close.html %>
<% include ../../copyrightbar.html %>
<% include ../../go_top.html %>
<% include ../../above_footer.html %>
<script src="/javascripts/go_top.js"></script>
<script src="/javascripts/user_info_sidebar.js"></script>
<script src="http://cdn.staticfile.org/masonry/3.1.1/masonry.pkgd.min.js"></script>
<script src="http://cdn.staticfile.org/imagesloaded/3.0.4/imagesloaded.pkgd.min.js"></script>
<script src="http://cdn.staticfile.org/jquery-infinitescroll/2.0b2.110713/jquery.infinitescroll.min.js"></script>
<script src="/javascripts/user/show_one.js"></script>
<% include ../../footer.html %>