
<% include ../../header.html %>
<link href="/stylesheets/copyrightbar.css" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
<link href="/stylesheets/auth/register.css" rel="stylesheet">
<% include ../../below_header.html %>
<% include ../../wrap_open.html %>
<div class="container">
    <div class="register-panel">
        <% if(locals.error){ %>
        <div class="alert alert-block alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <ul>
                <li><%= error %></li>
            </ul>
        </div>
        <% } %>
        <% if(locals.success){ %>
        <div class="alert alert-block alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <ul>
                <li><%= success %></li>
            </ul>
        </div>
        <% } %>
        <div class="alert alert-block alert-error alert-client">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <ul>
            </ul>
        </div>
        <form class="form" action="/register" method="post">
            <fieldset>
                <legend>注册</legend>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <% if(form.email){ %>
                <input id="email" type="email" class="input-block-level" placeholder="登录邮箱" name="form[email]"
                       value="<%= form.email %>">
                <% }else{ %>
                <input id="email" type="email" class="input-block-level" placeholder="登录邮箱" name="form[email]">
                <% } %>
                <% if(form.name){ %>
                <input id="name" type="text" class="input-block-level" placeholder="昵称" name="form[name]"
                       value="<%= form.name %>">
                <% }else{ %>
                <input id="name" type="text" class="input-block-level" placeholder="昵称" name="form[name]">
                <% } %>
                <input id="password" type="password" class="input-block-level" placeholder="登录密码" name="form[password]">
                <input id="passwordAgain" type="password" class="input-block-level" placeholder="重复登录密码"
                       name="form[passwordAgain]">

                <div>
                    <a title="点击获取新验证码"><img src="/api/captcha"></a>
                    <input id="captcha" type="text" class="input-small pull-right" placeholder="验证码"
                           name="form[captcha]">
                </div>
                <div>
                    <a href="/login" class="btn btn-link">已有账号?直接登录</a>
                    <input id="submit" type="submit" class="btn btn-info pull-right" value="注       册">
                </div>
            </fieldset>
        </form>
    </div>
</div>
<% include ../../wrap_close.html %>
<% include ../../copyrightbar.html %>
<% include ../../above_footer.html %>
<script src="/javascripts/lib/jquery.validate.min.js"></script>
<script src="/javascripts/lib/jquery.validate-additional-methods.min.js"></script>
<script src="/javascripts/auth/register.js"></script>
<% include ../../footer.html %>