
<% include ../../views/header.html %>
<link href="/stylesheets/error/error_404.css" rel="stylesheet">
<link href="/stylesheets/copyrightbar.css" rel="stylesheet">
<% include ../../views/below_header.html %>
<% include ../../views/wrap_open.html %>
<% include ../../views/navbar.html %>
<div class="container">
    <script type="text/javascript" src="http://www.qq.com/404/search_children.js" charset="utf-8"></script>
</div>
<% include ../../views/wrap_close.html %>
<% include ../../views/copyrightbar.html %>
<% include ../../views/above_footer.html %>
<script src="/javascripts/error/error_404.js"></script>
<% include ../../views/footer.html %>
