<% for(var i in users){ %>
<div class="span3">
    <div class="info">
        <div class="portrait">
            <a href="/artist/<%= users[i]._id %>">
                <% if(users[i].portrait == "default"){ %>
                <img class="portrait"
                     src="http://xxx.qiniudn.com/face180.png-Mwh64"/>
                <% }else{ %>
                <img class="portrait"
                     src="http://xxx.qiniudn.com/<%= users[i].portrait %>-Mwh64"/>
                <% } %>
            </a>
        </div>
        <p>
            <a href="/artist/<%= users[i]._id %>"><%= users[i].name %></a><br/>
            <% if(users[i].profession){ %>
            <span><%= users[i].profession %></span>&nbsp&nbsp
            <% }else{ %>
            <span>神秘职业</span>
            <% } %>
            <% if(users[i].address){ %>
            <span><%= users[i].address %></span></br>
            <% }else{ %>
            <span>传说之地</span></br>
            <% } %>
            <% if(users[i].selfInfo){ %>
            <span><%= users[i].selfInfo %></span>
            <% }else{ %>
            <span>尽在不言中...</span>
            <% } %>
        </p>
    </div>
</div>
<% } %>