<% for(var i in drawings){ %>
<div class="drawing-box span3">
    <div class="drawing">
        <a href="/drawing/<%= drawings[i]._id %>"><img
                src="http://xxx.qiniudn.com/<%= drawings[i].path %>-Mw200"/></a>
    </div>
    <div class="drawing-info">
        作品 <a href="/drawing/<%= drawings[i]._id %>"><%= drawings[i].name %></a>
    </div>
</div>
<% } %>
<% for(var i in albums){ %>
<div class="album-box span3">
    <div class="album">
        <a href="/album/<%= albums[i]._id %>">
            <% if(albums[i].coverPath == "default"){ %>
            <img
                    src="/images/app/album_cover.png"/>
            <% }else{ %>
            <img
                    src="http://xxx.qiniudn.com/<%= albums[i].coverPath %>-Mw200"/>
            <% } %>
        </a>
    </div>
    <div class="album-info">
       画册 <a href="/album/<%= albums[i]._id %>"><%= albums[i].name %></a>
    </div>
</div>
<% } %>
<% for(var i in users){ %>
<div class="user-box span3">
    <div class="user">
        <a href="/artist/<%= users[i]._id %>">
            <a href="/artist/<%= users[i]._id %>">
                <% if(users[i].portrait == "default"){ %>
                <img
                        src="http://xxx.qiniudn.com/face180.png-Mw200"/>
                <% }else{ %>
                <img
                        src="http://xxx.qiniudn.com/<%= users[i].portrait %>-Mw200"/>
                <% } %>
            </a>
        </a>
    </div>
    <div class="user-info">
       画家 <a href="/artist/<%= users[i]._id %>"><%= users[i].name %></a>
    </div>
</div>
<% } %>