
<% include ../../header.html %>
<link href="/stylesheets/tag/query_tag.css" rel="stylesheet">
<link href="/stylesheets/copyrightbar.css" rel="stylesheet">
<link href="/stylesheets/go_top.css" rel="stylesheet">
<% include ../../below_header.html %>
<% include ../../wrap_open.html %>
<% include ../../navbar.html %>
<div class="container">
    <div id="gallery">
        <% for(var i in drawings){ %>
        <div class="drawing-box span3">
            <div class="drawing">
                <a href="/drawing/<%= drawings[i]._id %>"><img
                        src="http://xxx.qiniudn.com/<%= drawings[i].path %>-Mw200"/></a>
            </div>
            <div class="drawing-info">
                作品 <a href="/drawing/<%= drawings[i]._id %>"><%= drawings[i].name %></a>
            </div>
        </div>
        <% } %>
        <% for(var i in albums){ %>
        <div class="album-box span3">
            <div class="album">
                <a href="/album/<%= albums[i]._id %>">
                    <% if(albums[i].coverPath == "default"){ %>
                    <img
                            src="/images/app/album_cover.png"/>
                    <% }else{ %>
                    <img
                            src="http://xxx.qiniudn.com/<%= albums[i].coverPath %>-Mw200"/>
                    <% } %>
                </a>
            </div>
            <div class="album-info">
                画册 <a href="/album/<%= albums[i]._id %>"><%= albums[i].name %></a>
            </div>
        </div>
        <% } %>
        <% for(var i in users){ %>
        <div class="user-box span3">
            <div class="user">
                <a href="/artist/<%= users[i]._id %>">
                    <% if(users[i].portrait == "default"){ %>
                    <img
                            src="http://xxx.qiniudn.com/face180.png-Mw200"/>
                    <% }else{ %>
                    <img
                            src="http://xxx.qiniudn.com/<%= users[i].portrait %>-Mw200"/>
                    <% } %>
                </a>
            </div>
            <div class="user-info">
                画家 <a href="/artist/<%= users[i]._id %>"><%= users[i].name %></a>
            </div>
        </div>
        <% } %>
    </div>
    <div id="loading">
        <div id="init-loading">
            <img src="/images/app/loading.gif"><br/>
            <span><b>稍等一会，正在努力加载...</b></span>
        </div>
        <div id="next-loading"></div>
        <div id="last-loading">
            <img src="/images/app/loading.gif"><br/>
            <span><b>正在完成最后的加载工作...</b></span>
        </div>
    </div>
    <div class="pager">
        <a href="?page=2"/>
    </div>
</div>
<% include ../../wrap_close.html %>
<% include ../../copyrightbar.html %>
<% include ../../go_top.html %>
<% include ../../above_footer.html %>
<script src="/javascripts/go_top.js"></script>
<script src="http://cdn.staticfile.org/masonry/3.1.1/masonry.pkgd.min.js"></script>
<script src="http://cdn.staticfile.org/imagesloaded/3.0.4/imagesloaded.pkgd.min.js"></script>
<script src="http://cdn.staticfile.org/jquery-infinitescroll/2.0b2.110713/jquery.infinitescroll.min.js"></script>
<script src="/javascripts/tag/query_tag.js"></script>
<% include ../../footer.html %>